In [2]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

## Database no ORM

In [3]:
import pymysql
import pymysql.cursors

In [4]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='josh0702',
                             db='employees_2',
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor)

In [5]:
cursor = connection.cursor()
with connection.cursor() as cursor:
    cursor.execute("SELECT count(*) FROM employees_2.employees;")
    result = cursor.fetchone()
    print(result)

{'count(*)': 72}

In [6]:
cursor = connection.cursor()

with connection.cursor() as cursor:
    cursor.execute("SELECT * FROM employees_2.employees;")
    result = cursor.fetchall()
    print(result)

[{'EMPLOYEE_ID': 100, 'FIRST_NAME': 'Steven', 'LAST_NAME': 'King', 'EMAIL': 'SKING', 'PHONE_NUMBER': '515.123.4567', 'HIRE_DATE': '1987-06-17T04:00:00.000Z', 'JOB_ID': 'AD_PRES', 'SALARY': 24000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 0, 'DEPARTMENT_ID': 90}, {'EMPLOYEE_ID': 101, 'FIRST_NAME': 'Neena', 'LAST_NAME': 'Kochhar', 'EMAIL': 'NKOCHHAR', 'PHONE_NUMBER': '515.123.4568', 'HIRE_DATE': '1987-06-18T04:00:00.000Z', 'JOB_ID': 'AD_VP', 'SALARY': 17000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 100, 'DEPARTMENT_ID': 90}, {'EMPLOYEE_ID': 102, 'FIRST_NAME': 'Lex', 'LAST_NAME': 'De Haan', 'EMAIL': 'LDEHAAN', 'PHONE_NUMBER': '515.123.4569', 'HIRE_DATE': '1987-06-19T04:00:00.000Z', 'JOB_ID': 'AD_VP', 'SALARY': 17000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 100, 'DEPARTMENT_ID': 90}, {'EMPLOYEE_ID': 103, 'FIRST_NAME': 'Alexander', 'LAST_NAME': 'Hunold', 'EMAIL': 'AHUNOLD', 'PHONE_NUMBER': '590.423.4567', 'HIRE_DATE': '1987-06-20T04:00:00.000Z', 'JOB_ID': 'IT_PROG', 'SALARY': 9000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 102, 'DEPARTMENT_ID': 60}, {'EMPLOYEE_ID': 104, 'FIRST_NAME': 'Bruce', 'LAST_NAME': 'Ernst', 'EMAIL': 'BERNST', 'PHONE_NUMBER': '590.423.4568', 'HIRE_DATE': '1987-06-21T04:00:00.000Z', 'JOB_ID': 'IT_PROG', 'SALARY': 6000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 103, 'DEPARTMENT_ID': 60}, {'EMPLOYEE_ID': 105, 'FIRST_NAME': 'David', 'LAST_NAME': 'Austin', 'EMAIL': 'DAUSTIN', 'PHONE_NUMBER': '590.423.4569', 'HIRE_DATE': '1987-06-22T04:00:00.000Z', 'JOB_ID': 'IT_PROG', 'SALARY': 4800, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 103, 'DEPARTMENT_ID': 60}, {'EMPLOYEE_ID': 106, 'FIRST_NAME': 'Valli', 'LAST_NAME': 'Pataballa', 'EMAIL': 'VPATABAL', 'PHONE_NUMBER': '590.423.4560', 'HIRE_DATE': '1987-06-23T04:00:00.000Z', 'JOB_ID': 'IT_PROG', 'SALARY': 4800, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 103, 'DEPARTMENT_ID': 60}, {'EMPLOYEE_ID': 107, 'FIRST_NAME': 'Diana', 'LAST_NAME': 'Lorentz', 'EMAIL': 'DLORENTZ', 'PHONE_NUMBER': '590.423.5567', 'HIRE_DATE': '1987-06-24T04:00:00.000Z', 'JOB_ID': 'IT_PROG', 'SALARY': 4200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 103, 'DEPARTMENT_ID': 60}, {'EMPLOYEE_ID': 108, 'FIRST_NAME': 'Nancy', 'LAST_NAME': 'Greenberg', 'EMAIL': 'NGREENBE', 'PHONE_NUMBER': '515.124.4569', 'HIRE_DATE': '1987-06-25T04:00:00.000Z', 'JOB_ID': 'FI_MGR', 'SALARY': 12000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 101, 'DEPARTMENT_ID': 100}, {'EMPLOYEE_ID': 109, 'FIRST_NAME': 'Daniel', 'LAST_NAME': 'Faviet', 'EMAIL': 'DFAVIET', 'PHONE_NUMBER': '515.124.4169', 'HIRE_DATE': '1987-06-26T04:00:00.000Z', 'JOB_ID': 'FI_ACCOUNT', 'SALARY': 9000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 108, 'DEPARTMENT_ID': 100}, {'EMPLOYEE_ID': 110, 'FIRST_NAME': 'John', 'LAST_NAME': 'Chen', 'EMAIL': 'JCHEN', 'PHONE_NUMBER': '515.124.4269', 'HIRE_DATE': '1987-06-27T04:00:00.000Z', 'JOB_ID': 'FI_ACCOUNT', 'SALARY': 8200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 108, 'DEPARTMENT_ID': 100}, {'EMPLOYEE_ID': 111, 'FIRST_NAME': 'Ismael', 'LAST_NAME': 'Sciarra', 'EMAIL': 'ISCIARRA', 'PHONE_NUMBER': '515.124.4369', 'HIRE_DATE': '1987-06-28T04:00:00.000Z', 'JOB_ID': 'FI_ACCOUNT', 'SALARY': 7700, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 108, 'DEPARTMENT_ID': 100}, {'EMPLOYEE_ID': 112, 'FIRST_NAME': 'Jose Manuel', 'LAST_NAME': 'Urman', 'EMAIL': 'JMURMAN', 'PHONE_NUMBER': '515.124.4469', 'HIRE_DATE': '1987-06-29T04:00:00.000Z', 'JOB_ID': 'FI_ACCOUNT', 'SALARY': 7800, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 108, 'DEPARTMENT_ID': 100}, {'EMPLOYEE_ID': 113, 'FIRST_NAME': 'Luis', 'LAST_NAME': 'Popp', 'EMAIL': 'LPOPP', 'PHONE_NUMBER': '515.124.4567', 'HIRE_DATE': '1987-06-30T04:00:00.000Z', 'JOB_ID': 'FI_ACCOUNT', 'SALARY': 6900, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 108, 'DEPARTMENT_ID': 100}, {'EMPLOYEE_ID': 114, 'FIRST_NAME': 'Den', 'LAST_NAME': 'Raphaely', 'EMAIL': 'DRAPHEAL', 'PHONE_NUMBER': '515.127.4561', 'HIRE_DATE': '1987-07-01T04:00:00.000Z', 'JOB_ID': 'PU_MAN', 'SALARY': 11000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 100, 'DEPARTMENT_ID': 30}, {'EMPLOYEE_ID': 115, 'FIRST_NAME': 'Alexander', 'LAST_NAME': 'Khoo', 'EMAIL': 'AKHOO', 'PHONE_NUMBER': '515.127.4562', 'HIRE_DATE': '1987-07-02T04:00:00.000Z', 'JOB_ID': 'PU_CLERK', 'SALARY': 3100, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 114, 'DEPARTMENT_ID': 30}, {'EMPLOYEE_ID': 116, 'FIRST_NAME': 'Shelli', 'LAST_NAME': 'Baida', 'EMAIL': 'SBAIDA', 'PHONE_NUMBER': '515.127.4563', 'HIRE_DATE': '1987-07-03T04:00:00.000Z', 'JOB_ID': 'PU_CLERK', 'SALARY': 2900, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 114, 'DEPARTMENT_ID': 30}, {'EMPLOYEE_ID': 117, 'FIRST_NAME': 'Sigal', 'LAST_NAME': 'Tobias', 'EMAIL': 'STOBIAS', 'PHONE_NUMBER': '515.127.4564', 'HIRE_DATE': '1987-07-04T04:00:00.000Z', 'JOB_ID': 'PU_CLERK', 'SALARY': 2800, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 114, 'DEPARTMENT_ID': 30}, {'EMPLOYEE_ID': 118, 'FIRST_NAME': 'Guy', 'LAST_NAME': 'Himuro', 'EMAIL': 'GHIMURO', 'PHONE_NUMBER': '515.127.4565', 'HIRE_DATE': '1987-07-05T04:00:00.000Z', 'JOB_ID': 'PU_CLERK', 'SALARY': 2600, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 114, 'DEPARTMENT_ID': 30}, {'EMPLOYEE_ID': 119, 'FIRST_NAME': 'Karen', 'LAST_NAME': 'Colmenares', 'EMAIL': 'KCOLMENA', 'PHONE_NUMBER': '515.127.4566', 'HIRE_DATE': '1987-07-06T04:00:00.000Z', 'JOB_ID': 'PU_CLERK', 'SALARY': 2500, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 114, 'DEPARTMENT_ID': 30}, {'EMPLOYEE_ID': 120, 'FIRST_NAME': 'Matthew', 'LAST_NAME': 'Weiss', 'EMAIL': 'MWEISS', 'PHONE_NUMBER': '650.123.1234', 'HIRE_DATE': '1987-07-07T04:00:00.000Z', 'JOB_ID': 'ST_MAN', 'SALARY': 8000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 121, 'FIRST_NAME': 'Adam', 'LAST_NAME': 'Fripp', 'EMAIL': 'AFRIPP', 'PHONE_NUMBER': '650.123.2234', 'HIRE_DATE': '1987-07-08T04:00:00.000Z', 'JOB_ID': 'ST_MAN', 'SALARY': 8200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 122, 'FIRST_NAME': 'Payam', 'LAST_NAME': 'Kaufling', 'EMAIL': 'PKAUFLIN', 'PHONE_NUMBER': '650.123.3234', 'HIRE_DATE': '1987-07-09T04:00:00.000Z', 'JOB_ID': 'ST_MAN', 'SALARY': 7900, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 123, 'FIRST_NAME': 'Shanta', 'LAST_NAME': 'Vollman', 'EMAIL': 'SVOLLMAN', 'PHONE_NUMBER': '650.123.4234', 'HIRE_DATE': '1987-07-10T04:00:00.000Z', 'JOB_ID': 'ST_MAN', 'SALARY': 6500, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 124, 'FIRST_NAME': 'Kevin', 'LAST_NAME': 'Mourgos', 'EMAIL': 'KMOURGOS', 'PHONE_NUMBER': '650.123.5234', 'HIRE_DATE': '1987-07-11T04:00:00.000Z', 'JOB_ID': 'ST_MAN', 'SALARY': 5800, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 100, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 125, 'FIRST_NAME': 'Julia', 'LAST_NAME': 'Nayer', 'EMAIL': 'JNAYER', 'PHONE_NUMBER': '650.124.1214', 'HIRE_DATE': '1987-07-12T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 3200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 120, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 126, 'FIRST_NAME': 'Irene', 'LAST_NAME': 'Mikkilineni', 'EMAIL': 'IMIKKILI', 'PHONE_NUMBER': '650.124.1224', 'HIRE_DATE': '1987-07-13T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2700, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 120, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 127, 'FIRST_NAME': 'James', 'LAST_NAME': 'Landry', 'EMAIL': 'JLANDRY', 'PHONE_NUMBER': '650.124.1334', 'HIRE_DATE': '1987-07-14T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2400, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 120, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 128, 'FIRST_NAME': 'Steven', 'LAST_NAME': 'Markle', 'EMAIL': 'SMARKLE', 'PHONE_NUMBER': '650.124.1434', 'HIRE_DATE': '1987-07-15T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 120, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 129, 'FIRST_NAME': 'Laura', 'LAST_NAME': 'Bissot', 'EMAIL': 'LBISSOT', 'PHONE_NUMBER': '650.124.5234', 'HIRE_DATE': '1987-07-16T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 3300, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 121, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 130, 'FIRST_NAME': 'Mozhe', 'LAST_NAME': 'Atkinson', 'EMAIL': 'MATKINSO', 'PHONE_NUMBER': '650.124.6234', 'HIRE_DATE': '1987-07-17T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2800, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 121, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 131, 'FIRST_NAME': 'James', 'LAST_NAME': 'Marlow', 'EMAIL': 'JAMRLOW', 'PHONE_NUMBER': '650.124.7234', 'HIRE_DATE': '1987-07-18T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2500, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 121, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 132, 'FIRST_NAME': 'TJ', 'LAST_NAME': 'Olson', 'EMAIL': 'TJOLSON', 'PHONE_NUMBER': '650.124.8234', 'HIRE_DATE': '1987-07-19T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2100, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 121, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 133, 'FIRST_NAME': 'Jason', 'LAST_NAME': 'Mallin', 'EMAIL': 'JMALLIN', 'PHONE_NUMBER': '650.127.1934', 'HIRE_DATE': '1987-07-20T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 3300, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 122, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 134, 'FIRST_NAME': 'Michael', 'LAST_NAME': 'Rogers', 'EMAIL': 'MROGERS', 'PHONE_NUMBER': '650.127.1834', 'HIRE_DATE': '1987-07-21T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2900, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 122, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 135, 'FIRST_NAME': 'Ki', 'LAST_NAME': 'Gee', 'EMAIL': 'KGEE', 'PHONE_NUMBER': '650.127.1734', 'HIRE_DATE': '1987-07-22T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2400, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 122, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 136, 'FIRST_NAME': 'Hazel', 'LAST_NAME': 'Philtanker', 'EMAIL': 'HPHILTAN', 'PHONE_NUMBER': '650.127.1634', 'HIRE_DATE': '1987-07-23T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 122, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 137, 'FIRST_NAME': 'Renske', 'LAST_NAME': 'Ladwig', 'EMAIL': 'RLADWIG', 'PHONE_NUMBER': '650.121.1234', 'HIRE_DATE': '1987-07-24T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 3600, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 123, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 138, 'FIRST_NAME': 'Stephen', 'LAST_NAME': 'Stiles', 'EMAIL': 'SSTILES', 'PHONE_NUMBER': '650.121.2034', 'HIRE_DATE': '1987-07-25T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 3200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 123, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 139, 'FIRST_NAME': 'John', 'LAST_NAME': 'Seo', 'EMAIL': 'JSEO', 'PHONE_NUMBER': '650.121.2019', 'HIRE_DATE': '1987-07-26T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2700, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 123, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 140, 'FIRST_NAME': 'Joshua', 'LAST_NAME': 'Patel', 'EMAIL': 'JPATEL', 'PHONE_NUMBER': '650.121.1834', 'HIRE_DATE': '1987-07-27T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2500, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 123, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 141, 'FIRST_NAME': 'Trenna', 'LAST_NAME': 'Rajs', 'EMAIL': 'TRAJS', 'PHONE_NUMBER': '650.121.8009', 'HIRE_DATE': '1987-07-28T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 3500, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 124, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 142, 'FIRST_NAME': 'Curtis', 'LAST_NAME': 'Davies', 'EMAIL': 'CDAVIES', 'PHONE_NUMBER': '650.121.2994', 'HIRE_DATE': '1987-07-29T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 3100, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 124, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 143, 'FIRST_NAME': 'Randall', 'LAST_NAME': 'Matos', 'EMAIL': 'RMATOS', 'PHONE_NUMBER': '650.121.2874', 'HIRE_DATE': '1987-07-30T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2600, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 124, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 144, 'FIRST_NAME': 'Peter', 'LAST_NAME': 'Vargas', 'EMAIL': 'PVARGAS', 'PHONE_NUMBER': '650.121.2004', 'HIRE_DATE': '1987-07-31T04:00:00.000Z', 'JOB_ID': 'ST_CLERK', 'SALARY': 2500, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 124, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 180, 'FIRST_NAME': 'Winston', 'LAST_NAME': 'Taylor', 'EMAIL': 'WTAYLOR', 'PHONE_NUMBER': '650.507.9876', 'HIRE_DATE': '1987-09-05T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 120, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 181, 'FIRST_NAME': 'Jean', 'LAST_NAME': 'Fleaur', 'EMAIL': 'JFLEAUR', 'PHONE_NUMBER': '650.507.9877', 'HIRE_DATE': '1987-09-06T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3100, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 120, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 182, 'FIRST_NAME': 'Martha', 'LAST_NAME': 'Sullivan', 'EMAIL': 'MSULLIVA', 'PHONE_NUMBER': '650.507.9878', 'HIRE_DATE': '1987-09-07T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 2500, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 120, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 183, 'FIRST_NAME': 'Girard', 'LAST_NAME': 'Geoni', 'EMAIL': 'GGEONI', 'PHONE_NUMBER': '650.507.9879', 'HIRE_DATE': '1987-09-08T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 2800, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 120, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 184, 'FIRST_NAME': 'Nandita', 'LAST_NAME': 'Sarchand', 'EMAIL': 'NSARCHAN', 'PHONE_NUMBER': '650.509.1876', 'HIRE_DATE': '1987-09-09T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 4200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 121, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 185, 'FIRST_NAME': 'Alexis', 'LAST_NAME': 'Bull', 'EMAIL': 'ABULL', 'PHONE_NUMBER': '650.509.2876', 'HIRE_DATE': '1987-09-10T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 4100, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 121, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 186, 'FIRST_NAME': 'Julia', 'LAST_NAME': 'Dellinger', 'EMAIL': 'JDELLING', 'PHONE_NUMBER': '650.509.3876', 'HIRE_DATE': '1987-09-11T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3400, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 121, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 187, 'FIRST_NAME': 'Anthony', 'LAST_NAME': 'Cabrio', 'EMAIL': 'ACABRIO', 'PHONE_NUMBER': '650.509.4876', 'HIRE_DATE': '1987-09-12T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 121, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 188, 'FIRST_NAME': 'Kelly', 'LAST_NAME': 'Chung', 'EMAIL': 'KCHUNG', 'PHONE_NUMBER': '650.505.1876', 'HIRE_DATE': '1987-09-13T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3800, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 122, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 189, 'FIRST_NAME': 'Jennifer', 'LAST_NAME': 'Dilly', 'EMAIL': 'JDILLY', 'PHONE_NUMBER': '650.505.2876', 'HIRE_DATE': '1987-09-14T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3600, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 122, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 190, 'FIRST_NAME': 'Timothy', 'LAST_NAME': 'Gates', 'EMAIL': 'TGATES', 'PHONE_NUMBER': '650.505.3876', 'HIRE_DATE': '1987-09-15T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 2900, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 122, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 191, 'FIRST_NAME': 'Randall', 'LAST_NAME': 'Perkins', 'EMAIL': 'RPERKINS', 'PHONE_NUMBER': '650.505.4876', 'HIRE_DATE': '1987-09-16T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 2500, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 122, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 192, 'FIRST_NAME': 'Sarah', 'LAST_NAME': 'Bell', 'EMAIL': 'SBELL', 'PHONE_NUMBER': '650.501.1876', 'HIRE_DATE': '1987-09-17T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 4000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 123, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 193, 'FIRST_NAME': 'Britney', 'LAST_NAME': 'Everett', 'EMAIL': 'BEVERETT', 'PHONE_NUMBER': '650.501.2876', 'HIRE_DATE': '1987-09-18T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3900, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 123, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 194, 'FIRST_NAME': 'Samuel', 'LAST_NAME': 'McCain', 'EMAIL': 'SMCCAIN', 'PHONE_NUMBER': '650.501.3876', 'HIRE_DATE': '1987-09-19T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3200, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 123, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 195, 'FIRST_NAME': 'Vance', 'LAST_NAME': 'Jones', 'EMAIL': 'VJONES', 'PHONE_NUMBER': '650.501.4876', 'HIRE_DATE': '1987-09-20T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 2800, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 123, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 196, 'FIRST_NAME': 'Alana', 'LAST_NAME': 'Walsh', 'EMAIL': 'AWALSH', 'PHONE_NUMBER': '650.507.9811', 'HIRE_DATE': '1987-09-21T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3100, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 124, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 197, 'FIRST_NAME': 'Kevin', 'LAST_NAME': 'Feeney', 'EMAIL': 'KFEENEY', 'PHONE_NUMBER': '650.507.9822', 'HIRE_DATE': '1987-09-22T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 3000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 124, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 198, 'FIRST_NAME': 'Donald', 'LAST_NAME': 'OConnell', 'EMAIL': 'DOCONNEL', 'PHONE_NUMBER': '650.507.9833', 'HIRE_DATE': '1987-09-23T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 2600, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 124, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 199, 'FIRST_NAME': 'Douglas', 'LAST_NAME': 'Grant', 'EMAIL': 'DGRANT', 'PHONE_NUMBER': '650.507.9844', 'HIRE_DATE': '1987-09-24T04:00:00.000Z', 'JOB_ID': 'SH_CLERK', 'SALARY': 2600, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 124, 'DEPARTMENT_ID': 50}, {'EMPLOYEE_ID': 200, 'FIRST_NAME': 'Jennifer', 'LAST_NAME': 'Whalen', 'EMAIL': 'JWHALEN', 'PHONE_NUMBER': '515.123.4444', 'HIRE_DATE': '1987-09-25T04:00:00.000Z', 'JOB_ID': 'AD_ASST', 'SALARY': 4400, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 101, 'DEPARTMENT_ID': 10}, {'EMPLOYEE_ID': 201, 'FIRST_NAME': 'Michael', 'LAST_NAME': 'Hartstein', 'EMAIL': 'MHARTSTE', 'PHONE_NUMBER': '515.123.5555', 'HIRE_DATE': '1987-09-26T04:00:00.000Z', 'JOB_ID': 'MK_MAN', 'SALARY': 13000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 100, 'DEPARTMENT_ID': 20}, {'EMPLOYEE_ID': 202, 'FIRST_NAME': 'Pat', 'LAST_NAME': 'Fay', 'EMAIL': 'PFAY', 'PHONE_NUMBER': '603.123.6666', 'HIRE_DATE': '1987-09-27T04:00:00.000Z', 'JOB_ID': 'MK_REP', 'SALARY': 6000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 201, 'DEPARTMENT_ID': 20}, {'EMPLOYEE_ID': 203, 'FIRST_NAME': 'Susan', 'LAST_NAME': 'Mavris', 'EMAIL': 'SMAVRIS', 'PHONE_NUMBER': '515.123.7777', 'HIRE_DATE': '1987-09-28T04:00:00.000Z', 'JOB_ID': 'HR_REP', 'SALARY': 6500, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 101, 'DEPARTMENT_ID': 40}, {'EMPLOYEE_ID': 204, 'FIRST_NAME': 'Hermann', 'LAST_NAME': 'Baer', 'EMAIL': 'HBAER', 'PHONE_NUMBER': '515.123.8888', 'HIRE_DATE': '1987-09-29T04:00:00.000Z', 'JOB_ID': 'PR_REP', 'SALARY': 10000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 101, 'DEPARTMENT_ID': 70}, {'EMPLOYEE_ID': 205, 'FIRST_NAME': 'Shelley', 'LAST_NAME': 'Higgins', 'EMAIL': 'SHIGGINS', 'PHONE_NUMBER': '515.123.8080', 'HIRE_DATE': '1987-09-30T04:00:00.000Z', 'JOB_ID': 'AC_MGR', 'SALARY': 12000, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 101, 'DEPARTMENT_ID': 110}, {'EMPLOYEE_ID': 206, 'FIRST_NAME': 'William', 'LAST_NAME': 'Gietz', 'EMAIL': 'WGIETZ', 'PHONE_NUMBER': '515.123.8181', 'HIRE_DATE': '1987-10-01T04:00:00.000Z', 'JOB_ID': 'AC_ACCOUNT', 'SALARY': 8300, 'COMMISSION_PCT': Decimal('0.00'), 'MANAGER_ID': 205, 'DEPARTMENT_ID': 110}]

In [7]:
connection.close()

# read CSV

In [8]:
# Can open csv files as a dataframe
dframe = pd.read_csv('lec25.csv')

#Show
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [9]:
# Can open csv files as a dataframe
dframe = pd.read_csv('lec25.csv', header = None)

#Show
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [ ]:
# Can also use read_table with ',' as a delimiter
dframe = pd.read_table('lec25.csv',sep=',')

#Show
dframe

In [ ]:
# We can also indicate a particular number of rows to be read
pd.read_csv('lec25.csv',header=None,nrows=2)

In [ ]:
# Now let's see how we can write DataFrames out to text files
dframe.to_csv('mytextdata_out.csv')
#You'll see this file where you're ipython Notebooks are saved (Usually under my documents)

In [14]:
#  We can also use other delimiters

#we'll import sys to see the output
import sys 

#Use sys.stdout to see the output directly and not save it
dframe.to_csv(sys.stdout,sep=',')

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [ ]:
# Just to make sure we understand the delimiter
dframe.to_csv(sys.stdout,sep='?')

In [ ]:
#We can also choose to write only a specific subset of columns
dframe.to_csv(sys.stdout,columns=[0,1,2])

# JSON

In [15]:
# Heres an example of what a JSON (JavaScript Object Notation) looks like:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [16]:
#Let import json module
import json

#Lets load json data
data = json.loads(json_obj)
data

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [17]:
type(data)

dict

In [19]:
#WE can also convert back to JSON
json.dumps(data)

str

In [20]:
#We can simply open JSON data after loading with a DataFrame
dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

# HTML

In [24]:
#Lets grab a url for list of failed banks ，http://www.fdic.gov/bank/individual/failed/banklist.html
url = 'https://baike.baidu.com/item/%E9%A2%86%E5%AF%BC%E4%BA%BA'

In [25]:
# Grab data from html and put it intop a list of DataFrame objects!
dframe_list = pd.io.html.read_html(url,header=0)
dframe_list

[   代   姓名                                         重要职务（担任年份）   指导思想  \
 0  一  毛泽东  中国共产党中央委员会主席(1945-1976) 中国人民政治协商会议全国委员会主席(1949...  毛泽东思想
 1  二  邓小平  中国人民政治协商会议全国委员会主席(1978-1983) 中国共产党中央军事委员会主席(19...  邓小平理论
 2  三  江泽民  中国共产党中央委员会总书记(1989-2002) 中国共产党中央军事委员会主席(1989-2...   三个代表
 3  四  胡锦涛  中国共产党中央委员会总书记(2002-2012) 中华人民共和国主席(2003-2013) ...  科学发展观
 4  五  习近平  中国共产党中央委员会总书记 (2012开始) 中国共产党中央军事委员会主席 (2012开始)...    NaN

                           生卒
 0  生：1893年12月26日 卒：1976年9月9日
 1  生：1904年8月22日 卒：1997年2月19日
 2               生：1926年8月17日
 3                 生：1942年12月
 4                  生：1953年6月  ,    毛泽东  邓小平  江泽民
 0  胡锦涛  习近平  NaN,        等级   行政级别                                             代表政府职务  \
 0       1  国家级正职                                              国务院总理
 1     2-4  国家级副职                                        国务院副总理、国务委员
 2     4-8  省部级正职                             省、直辖市、自治区正职 国务院部委部长或主任
 3    6-10  省部级副职                 省、直辖市、自治区副职 国务院部委副职 国务院部委管理的国家局正局长
 4    8-13  厅局级正职          领导职务：国务院部委各司正职 省市自治区厅、局正职 地级市正职 非领导职务：巡视员
 5   10-15  厅局级副职         领导职务：国务院部委各司副职 省市自治区厅、局副职 地级市副职 非领导职务：副巡视员
 6   12-18  县处级正职  #领导职务：国务院部委各司下属处正职 省市自治区厅局下属处正职 地级市局、区、县正职 #非领...
 7   14-20  县处级副职  领导职务：国务院部委各司下属处副职 省市自治区厅局下属处副职 地级市局、区、县副职 非领导职...
 8   16-22  乡科级正职              领导职务：乡长 地级市局下属处处长 县级市下属局局长 非领导职务：主任科员
 9   17-24  乡科级副职          领导职务：副乡长 地级市局下属处副处长 县级市下属局副局长 非领导职务：副主任科员
 10  18-26    科员级                                                 科员
 11  19-27   办事员级                                                办事员

         对应军队级别
 0       中央军委主席
 1   中央军委副主席、委员
 2    大军区、军兵种正职
 3          正军级
 4          正师级
 5          副师级
 6          正团级
 7          副团级
 8          正营级
 9          副营级
 10          连级
 11          排级  ]

In [26]:
#Grab the first list item from the data base and set as a DataFrame
dframe = dframe_list[0]
dframe

,代,姓名,重要职务（担任年份）,指导思想,生卒
0,一,毛泽东,中国共产党中央委员会主席(1945-1976) 中国人民政治协商会议全国委员会主席(1949...,毛泽东思想,生：1893年12月26日 卒：1976年9月9日
1,二,邓小平,中国人民政治协商会议全国委员会主席(1978-1983) 中国共产党中央军事委员会主席(19...,邓小平理论,生：1904年8月22日 卒：1997年2月19日
2,三,江泽民,中国共产党中央委员会总书记(1989-2002) 中国共产党中央军事委员会主席(1989-2...,三个代表,生：1926年8月17日
3,四,胡锦涛,中国共产党中央委员会总书记(2002-2012) 中华人民共和国主席(2003-2013) ...,科学发展观,生：1942年12月
4,五,习近平,中国共产党中央委员会总书记 (2012开始) 中国共产党中央军事委员会主席 (2012开始)...,NaN,生：1953年6月

In [ ]:
dframe.columns.values

# excell

In [21]:
# Open the excel file as an object
xlsfile = pd.ExcelFile('Campus Metadata.xlsx')

In [22]:
# Parse the first sheet of the excel file and set as DataFrame
dframe = xlsfile.parse('Data')

In [23]:
#Show!
dframe

,cust_num,month,cust_demographics_ai,cust_demographics_aii,typeA_ct,typeB_ct,typeC_flag,typeD_flag,typeE_flag,typeF_flag,...,cust_outreach_aiii,cust_outreach_aiv,cust_outreach_av,cust_outreach_avi,cust_outreach_avii,cust_outreach_aviii,wf_outreach_flag_chan_i,wf_outreach_flag_chan_ii,wf_outreach_flag_chan_iii,wf_outreach_flag_chan_iv
0,9246,9,4,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1273,2,3,3,2,1,0,0,0,1,...,0,0,0,2,0,0,0,0,0,0
2,6682,8,3,3,1,3,0,0,0,0,...,2,0,0,0,3,0,0,0,0,0
3,7946,5,4,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,3681,4,1,1,1,1,0,0,0,0,...,0,0,0,2,0,0,0,1,0,0
5,7349,10,1,1,1,1,0,0,0,0,...,0,0,15,19,0,0,0,1,0,0
6,6659,3,3,3,1,1,1,0,0,1,...,1,1,7,34,0,0,1,1,0,0
7,7416,12,5,5,1,1,0,0,0,0,...,3,2,0,0,0,0,1,1,0,0
8,6926,7,2,3,1,1,1,0,0,0,...,0,0,2,7,4,0,1,1,0,0
9,360,8,3,3,1,1,0,0,0,0,...,0,0,0,0,3,0,0,0,0,0
10,4295,8,0,1,1,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2522,3,5,3,1,1,0,0,0,1,...,3,3,1,38,0,0,1,1,0,0
12,5456,4,2,4,1,1,0,0,0,1,...,0,0,1,24,0,0,0,1,0,1
13,1502,5,3,4,1,1,0,0,0,1,...,1,0,0,8,0,0,1,1,0,0
14,3174,5,3,3,1,5,0,0,0,0,...,0,0,0,20,0,0,0,1,0,0
15,4194,1,2,1,2,2,0,0,0,0,...,0,0,0,5,0,0,0,1,0,0
16,8167,7,1,3,1,1,0,0,0,0,...,0,0,5,0,1,0,0,0,0,0
17,558,2,2,4,3,2,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18,3376,7,4,1,1,1,0,0,0,1,...,7,0,4,5,0,0,0,1,0,1
19,890,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,5744,8,1,3,2,1,0,0,0,1,...,0,0,35,39,0,0,0,1,0,1
21,2697,6,5,1,1,1,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
22,1319,9,2,5,3,1,0,0,0,0,...,1,1,0,10,3,0,0,1,0,0
23,5845,3,2,4,7,2,0,0,0,1,...,9,2,8,36,0,0,0,1,0,0
24,972,3,2,1,2,1,0,0,0,1,...,1,0,1,17,0,0,0,1,0,0
25,2030,4,3,4,1,2,1,0,0,1,...,0,0,1,55,0,0,1,0,0,1
26,2949,1,5,5,3,1,0,0,0,1,...,1,0,0,12,0,0,0,1,0,0
27,1418,4,4,1,2,1,0,0,0,1,...,2,0,0,0,0,0,0,1,0,0
28,1532,4,4,3,3,4,0,0,0,1,...,4,0,3,34,0,0,0,1,0,0
29,5313,4,2,3,2,1,0,0,0,1,...,0,0,8,11,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119970,5405,9,2,3,1,1,1,0,0,1,...,0,0,2,9,3,0,1,1,0,1
119971,818,3,2,5,1,6,1,0,0,1,...,0,0,10,34,0,0,1,1,0,0
119972,5405,10,2,3,1,1,1,0,0,1,...,0,0,1,8,3,0,1,1,0,1
119973,818,10,2,5,1,6,1,0,0,1,...,1,0,12,81,0,2,1,1,0,0
119974,5405,12,2,3,1,1,1,0,0,1,...,0,0,2,8,2,0,1,1,0,1
119975,818,1,2,5,1,6,1,0,0,1,...,0,0,4,38,0,0,1,1,0,0
119976,9790,1,5,5,1,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
119977,9790,2,5,5,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
119978,9790,3,5,5,1,1,0,0,0,0,...,1,0,0,1,0,0,1,1,0,0
119979,9790,4,5,5,1,1,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
119980,9790,5,5,5,1,1,0,0,0,0,...,3,0,0,1,0,0,0,1,0,0
119981,9790,6,5,5,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
119982,9790,7,5,5,1,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
119983,9790,11,5,5,1,1,0,0,0,0,...,1,0,0,0,0,0,1,1,0,0
119984,9790,8,5,5,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
119985,9790,9,5,5,1,1,0,0,0,0,...,1,0,0,1,0,0,1,1,0,0
119986,9790,10,5,5,1,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
119987,9790,12,5,5,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
119988,6568,1,5,4,3,2,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
119989,6568,2,5,4,3,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119990,6568,3,5,4,3,2,0,0,0,0,...,2,1,0,0,0,0,0,1,0,0
119991,6568,4,5,4,3,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119992,6568,5,5,4,3,2,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
119993,6568,6,5,4,3,2,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
119994,6568,7,5,4,3,2,0,0,0,1,...,3,0,0,0,0,0,0,1,0,0
119995,6568,11,5,4,3,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
119996,6568,8,5,4,3,2,0,0,0,1,...,3,0,0,0,0,0,0,0,0,0
119997,6568,9,5,4,3,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
119998,6568,10,5,4,3,2,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
119999,6568,12,5,4,3,2,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0